.hello{
    width: 400px;
    height: 400px;
    float:left;
    margin: 100px;
    border: 5px solid black;
}
.hello2 {
    width: 400px;
    height: 400px;
    float:right;
    margin: 100px;
    border: 5px solid black;
}
.button{
        font-weight: 700;
        color: white;
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        border-radius: 3px;
        background: rgb(64,199,129);
        box-shadow: 0 -3px rgb(53,167,110) inset;
        transition: 0.2s;
        float: inherit;
}
